@{
    ViewBag.Title = "Get in contact";
}

<header class="page-header">
    <h1><span aria-hidden="true" class="fa fa-phone"></span> @ViewBag.Title</h1>
</header>

@*<div class="row">
    <section class="col-md-9" role="region">
        <p>We are the online-only "Book Stack", bookstore</p>
        <p>
            Please feel free to call us. We look forward to doing business with you.
        </p>
        <p>
            Sincerely,
        </p>
        <p>
            Book Stack, Ltd.
        </p>
    </section>
    <aside class="col-md-3" role="complementary">
        <address>
            Book Stack<br>
            <abbr title="Phone">P:</abbr>
            514-123-4567<br>
            Instagram: bookStack_ltd<br>
        </address>
        <address>
            <strong>Help:</strong>   <a href="mailto:Help@bookstack.com">Support@bookstack.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Admin@bookstack.com">Admin@bookstack.com</a>
        </address>
    </aside>
</div>*@
<!--Section: Contact v.2-->
<section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">  Please feel free to call us. We look forward to doing business with you.</p>

    <div class="row">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" action="mail.php" method="POST">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class="">Your name</label>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="email" class="form-control">
                            <label for="email" class="">Your email</label>
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="text" id="subject" name="subject" class="form-control">
                            <label for="subject" class="">Subject</label>
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                            <label for="message">Your message</label>
                        </div>

                    </div>
                </div>
                <!--Grid row-->

            </form>

            <div class="text-center text-md-left">
                <a class="btn btn-primary">Send</a>
            </div>
            <div class="status"></div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
       <address>
            Book Stack<br>
            <abbr title="Phone">P:</abbr>
            514-123-4567<br>
            Instagram: bookStack_ltd<br>
        </address>
        <address>
            <strong>Help:</strong>   <a href="mailto:Help@bookstack.com">Support@bookstack.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Admin@bookstack.com">Admin@bookstack.com</a>
        </address>
            </ul>
        </div>
        <!--Grid column-->

    </div>

</section>
<!--Section: Contact v.2-->