@{
    ViewBag.Title = "Get in contact";
}

<header class="page-header">
    <h1><span aria-hidden="true" class="fa fa-phone"></span> @ViewBag.Title</h1>
</header>

<div class="row">
    <section class="col-md-9" role="region">
        <p>We are the online-only "Book Stack", bookstore</p>
        <p>
            Please feel free to call us. We look forward to doing business with you.
        </p>
        <p>
            Sincerely,
        </p>
        <p>
            Book Stack, Ltd.
        </p>
    </section>
    <aside class="col-md-3" role="complementary">
        <address>
            Book Stack<br>
            <abbr title="Phone">P:</abbr>
            514-123-4567<br>
            Instagram: bookStack_ltd<br>
        </address>
        <address>
            <strong>Help:</strong>   <a href="mailto:Help@bookstack.com">Support@bookstack.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Admin@bookstack.com">Admin@bookstack.com</a>
        </address>
    </aside>
</div>